.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 0rem;
}

.text-align-center {
  text-align: center;
}

.flip-clock-wrapper {
    display: inline-block;
    width: auto;
    height: auto:
}

.clock {
zoom: 0.6;
-moz-transform: scale(0.6)
}

.footer {
  width: 100%;
  font-size: 0.8rem;
  padding: .8rem; 
}

.wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 3.5rem);
}
